body {
    background: #25693f;
    font-family: Tahoma, Arial, sans-serif;
}

h1 {
    color: rgb(20, 20, 20);
    font: 64px Garamond, Helvetica, serif;
    text-align: center;
    text-shadow: 1px 1px 1px red,
                 2px 2px 1px red;
}

form {
    margin: 30px 25px;
}

div {
    margin: 10px;
}

img {
    display: block;
    border-radius: 50%;
    margin: 10px auto 50px;
    border: solid red 10px;
}

h2 {
    margin: 25px auto;
    text-shadow: 1px 1px 1px red;
}

table {
    align-items: center;
    width: 50%;
    text-align: left;
    border: double 5px red;
    margin: auto;
    padding: 30px 50px;
    background-color: white;
}

thead {
    text-align: left;
}

label {
    display: block;
    margin: 5px;
}

#submit-btn {
    display: block;
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 8px;
    font-size: large;
    margin: 10px;
    
}

#submit-btn:hover {
    background-color: rgb(107, 5, 5);
}

select:hover, input:hover {
    background-color: blue;
}